*.obj
*.log
/.vs
.vs
/TechDeMMO/.vs
/TechDeMMO/Debug
/TechDeMMO/TechDeMMO/Debug
/TechDeMMO/TechDeMMO/x64
/TechDeMMO/TechDeMMO/Logs
/TechDeMMO/x64
/Server/Logs
/TechDeMMO/Server/Logs
/TechDeMMO/Server/x64
/Server/x64